@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,1000,2000,3000,4000,5000,6000,7000,8000,9001,1001,2001,3001,4001,5001,6001,7001,8001,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
}

.navbar {
  height: 50px;
  box-shadow: 2px 0px 10px 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  z-index: 1;
  width: 100%;
  padding: 0px 20px;
}

.logo {
  flex: 1;
}

.logo .f {
  font-weight: bolder;
  padding: 2px 3px;
  border-radius: 5px;
  margin-right: 2px;
  color: #fff;
  background-color: #39db4a;
}

.logo .oodi {
  color: #000;
  font-weight: bolder;
}

.nav-menu {
  height: 50px;
  background-color: #fff;
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
}

.navbar ul li a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
}

.navbar ul li a:hovera, .navbar ul li .active-link {
  color: #39db4a;
  background-color: #39db4a;
  transition: 1s ease 0s;
}

.navbar ul li {
  margin: 10px;
  color: #fff;
}

.btn {
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: #39db4a;
  cursor: pointer;
}

.responsive-btn {
  display: none;
  justify-content: none;
  align-items: none;
  flex-direction: column;
}

.responsive-btn .btn-lines {
  background-color: #000;
  border-radius: 50%;
  margin: 1px;
  width: 20px;
  height: 4px;
}

.show-nav-menu {
  top: 200px;
  transition: all 0.5s ease-in-out 0s;
}

/* footer section */
.footer {
  padding: 0px 5rem;
  width: 100%;
  position: relative;
  top: 100%;
  bottom: 0px;
}

.footer .footer-row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: row;
  overflow: none;
}

.footer-content {
  width: 200px;
  word-wrap: break-word;
}

.col-title,
.footer-logo {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.link a,
.info {
  text-decoration: none;
  font-weight: 700;
  line-height: 1cm;
  color: #555555;
}

.footer-row2 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .responsive-btn {
    display: flex;
  }
  .nav-menu {
    display: block;
    position: absolute;
    top: -1000%;
    padding-top: 50px;
    text-align: center;
    background-color: #39db4a;
    width: 100vw;
    height: 50vh;
  }
  .nav-menu ul {
    display: block;
  }
  .nav-menu .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: colum;
    background: #fff;
    border-radius: 20px;
    margin: 10px 20px;
  }
  .btn {
    margin: 5px;
  }
  .footer .footer-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-content {
    width: 100%;
  }
  .info {
    word-wrap: break-word;
  }
  .show-nav-menu {
    top: 0%;
    transition: all 0.5s ease-in-out 0s;
  }
}

/*# sourceMappingURL=navbar.css.map */
